In [1]:
def square(num):
    print(num*2)

In [2]:
# guess ?   => required argument
square(10)

20

In [4]:
square(10)

20

In [7]:
#  variable which reference of my function  => square
x=square
x

In [8]:
print(x)

<function square at 0x0000016FC3982310>

In [9]:
print(square)

<function square at 0x0000016FC3982310>

In [10]:
x(10)

20

In [11]:
square(10)

20

In [12]:
#  First class functions => function where the object variable ,
#  function can be assigned to a argument

#  Lambda functions vs function

# funct => declare( function), parameter1 , expression

#  lambda => annonymous they are faster(X)

#  lambda => don't have a name, any number of parameter, but 1 expression

In [15]:
def square(num):
    print(num*2)
    return num*2
    
    
square

In [18]:
y = lambda num : num**2

In [19]:
y

In [20]:
y(20)

400

In [21]:
#  normal vs lamba( oneline or inline functions)

In [22]:
#  Data scientific => Data engineer

In [23]:
#  big data domain ( hadoop, hive)

studentInfo=[ {"name":"Yash","marks":[10,20,30] },
            {"name":"Jay","marks":[20,20,40] }]

In [24]:
studentInfo

[{'name': 'Yash', 'marks': [10, 20, 30]},
 {'name': 'Jay', 'marks': [20, 20, 40]}]

In [28]:
studentInfo=[ {"name":"Yash","marks":[10,20,30] },
            {"name":"Jay","marks":[20,20,40] }]

for data in studentInfo:
    print(data["name"])
    print(data["marks"])

Yash
[10, 20, 30]
Jay
[20, 20, 40]

In [29]:
#  dictionary are orderered => data dont have index position

#  first class functions vs high order functions

lambda num : num**2

In [30]:
def hello():
    print("hey")
    
    
print(hello)

<function hello at 0x0000016FC54535E0>

In [32]:
(lambda num : num**2)(10)

100

In [33]:
myList=[10,20,30,40]
sum(myList)
#  average of the list

100

In [35]:
sum(myList)/len(myList)

25.0

In [37]:
x=lambda seq : sum(myList) / len(myList)
x(myList)

25.0

In [38]:
(lambda seq : sum(myList) / len(myList))(myList)

25.0

In [39]:
studentInfo=[ {"name":"Yash","marks":[10,20,30] },
            {"name":"Jay","marks":[20,20,40] }]

for data in studentInfo:
    print(data["name"])
    print(data["marks"])

Yash
[10, 20, 30]
Jay
[20, 20, 40]

In [45]:
#  limitation ( key-value) => limitation? 
#  values => immutable vs mututable


functionDict = { "average" : lambda seq : sum(seq) / len(seq)}

In [49]:
functionDict["average"]

In [51]:
functionDict["average"](myList)

25.0

In [52]:
type(myList)

list

In [53]:
type(functionDict)

dict

In [68]:
functionDict = { "average" : lambda seq : sum(seq) / len(seq)}

In [70]:
studentInfo=[ {"name":"Yash","marks":[10,20,30] },
            {"name":"Jay","marks":[10,20,440] }]

for data in studentInfo:
    totalmarks = data["marks"]

    out=functionDict["average"](totalmarks)
    print(out)

20.0
156.66666666666666

In [67]:
functionDict["average"]([10,20,4400])

25.0