In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("userfoods.csv")
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [9]:
df.pivot(index="Item", columns=["Gender","City"], values="Spend")

ValueError: Index contains duplicate entries, cannot reshape

In [10]:
df.pivot_table(index="Item", columns=["Gender","City"], values="Spend")

Gender        Female                               Male               \
City        New York Philadelphia   Stamford   New York Philadelphia
Item
Burger     51.626667    52.878710  45.037778  58.822273    44.675238
Burrito    42.563043    52.098571  53.532647  55.976000    43.764333
Chalupa    46.135789    52.291562  64.094000  49.110800    48.444783
Donut      46.670323    54.642000  48.734118  44.842333    37.859394
Ice Cream  56.356296    46.225625  46.910455  55.297586    53.445610
Sushi      47.751290    58.096000  45.622188  51.709259    49.852857

Gender
City        Stamford
Item
Burger     46.424516
Burrito    46.438929
Chalupa    50.011304
Donut      49.004483
Ice Cream  42.368800
Sushi      70.434444

In [11]:
#  which gender has spend more on each item for the city

df.pivot_table(index=["Gender","Item"], columns="City", values="Spend")

City               New York  Philadelphia   Stamford
Gender Item
Female Burger     51.626667     52.878710  45.037778
       Burrito    42.563043     52.098571  53.532647
       Chalupa    46.135789     52.291562  64.094000
       Donut      46.670323     54.642000  48.734118
       Ice Cream  56.356296     46.225625  46.910455
       Sushi      47.751290     58.096000  45.622188
Male   Burger     58.822273     44.675238  46.424516
       Burrito    55.976000     43.764333  46.438929
       Chalupa    49.110800     48.444783  50.011304
       Donut      44.842333     37.859394  49.004483
       Ice Cream  55.297586     53.445610  42.368800
       Sushi      51.709259     49.852857  70.434444