In [27]:
import pandas as pd
import datetime as dt

from pandas_datareader import data

In [28]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2022-01-20" , end="2023-01-01")

In [31]:
s= stocks.index


stocks.reset_index(inplace=True)

stocks["Date"].dt.year


stocks

     index       Date     Open     High       Low    Close        Volume
0        0 2022-12-30  238.210  239.960  236.6600  239.820  2.193847e+07
1        1 2022-12-29  235.650  241.920  235.6500  241.010  1.977069e+07
2        2 2022-12-28  236.890  239.720  234.1700  234.530  1.745710e+07
3        3 2022-12-27  238.700  238.930  235.8300  236.960  1.668865e+07
4        4 2022-12-23  236.110  238.870  233.9428  238.730  2.120698e+07
..     ...        ...      ...      ...       ...      ...           ...
234    234 2022-01-26  305.127  305.633  290.3140  293.958  9.127619e+07
235    235 2022-01-25  288.815  292.250  282.5220  285.808  7.353124e+07
236    236 2022-01-24  289.490  294.354  273.4870  293.621  8.684156e+07
237    237 2022-01-21  299.875  301.285  292.8670  293.283  5.852773e+07
238    238 2022-01-20  306.198  308.760  298.3460  298.803  3.571220e+07

[239 rows x 7 columns]

In [35]:
stocks["Date"].dt.month

0      12
1      12
2      12
3      12
4      12
       ..
234     1
235     1
236     1
237     1
238     1
Name: Date, Length: 239, dtype: int64

In [13]:
stocks

               Open     High       Low    Close        Volume
Date
2022-12-30  238.210  239.960  236.6600  239.820  2.193847e+07
2022-12-29  235.650  241.920  235.6500  241.010  1.977069e+07
2022-12-28  236.890  239.720  234.1700  234.530  1.745710e+07
2022-12-27  238.700  238.930  235.8300  236.960  1.668865e+07
2022-12-23  236.110  238.870  233.9428  238.730  2.120698e+07
...             ...      ...       ...      ...           ...
2022-01-26  305.127  305.633  290.3140  293.958  9.127619e+07
2022-01-25  288.815  292.250  282.5220  285.808  7.353124e+07
2022-01-24  289.490  294.354  273.4870  293.621  8.684156e+07
2022-01-21  299.875  301.285  292.8670  293.283  5.852773e+07
2022-01-20  306.198  308.760  298.3460  298.803  3.571220e+07

[239 rows x 5 columns]

In [3]:
stocks.values

array([[2.38210000e+02, 2.39960000e+02, 2.36660000e+02, 2.39820000e+02,
        2.19384720e+07],
       [2.35650000e+02, 2.41920000e+02, 2.35650000e+02, 2.41010000e+02,
        1.97706930e+07],
       [2.36890000e+02, 2.39720000e+02, 2.34170000e+02, 2.34530000e+02,
        1.74571040e+07],
       ...,
       [3.22837000e+02, 3.23046000e+02, 3.13049000e+02, 3.13446000e+02,
        4.04296424e+07],
       [3.31723000e+02, 3.32090000e+02, 3.23095000e+02, 3.25954000e+02,
        3.29804700e+07],
       [3.32239000e+02, 3.34859000e+02, 3.26719000e+02, 3.31643000e+02,
        2.91889798e+07]])

In [9]:
stocks.index

DatetimeIndex(['2022-12-30', '2022-12-29', '2022-12-28', '2022-12-27',
               '2022-12-23', '2022-12-22', '2022-12-21', '2022-12-20',
               '2022-12-19', '2022-12-16',
               ...
               '2022-01-14', '2022-01-13', '2022-01-12', '2022-01-11',
               '2022-01-10', '2022-01-07', '2022-01-06', '2022-01-05',
               '2022-01-04', '2022-01-03'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [8]:
time1= pd.Timestamp('2022-02-15')
time1

Timestamp('2022-02-15 00:00:00')

In [6]:
time2= pd.Timestamp('2022-02-17')

In [7]:
time1-time2

Timedelta('-2 days +00:00:00')

In [10]:
time1 + 3

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [49]:
time1 = pd.Timestamp(2022,10,12)

time1
# pd.Timedelta(days=2)

Timestamp('2022-10-12 00:00:00')

In [50]:
time2 = pd.Timestamp(2022,10,29)

time2

Timestamp('2022-10-29 00:00:00')

In [51]:

time2-time1

Timedelta('17 days 00:00:00')

In [53]:
s=pd.Series( ['2018-01-05', '7/8/1952', 'Oct 10, 1995'])
s=pd.to_datetime(s,errors="coerce")

In [59]:
s

0   2018-01-05
1   1952-07-08
2   1995-10-10
dtype: datetime64[ns]

In [61]:
s + pd.Timedelta(5,unit="D",)

0   2018-01-10
1   1952-07-13
2   1995-10-15
dtype: datetime64[ns]