In [1]:
import pandas as pd

In [5]:
pd.DataFrame({"User":"Tushar","Marks":100},index=[0])

     User  Marks
0  Tushar    100

In [7]:
pd.DataFrame({"User":["Tushar","Happy"],"Marks":[100,200]})

     User  Marks
0  Tushar    100
1   Happy    200

In [8]:
newindex=[10,20]
pd.DataFrame({"User":["Tushar","Happy"],"Marks":[100,200]}, index=newindex)

      User  Marks
10  Tushar    100
20   Happy    200

In [17]:
df = pd.DataFrame( [ {"User":"Tushar","Marks":10},
               {"User":"Happy", "Marks":20}], index=["user1","user2"])

In [20]:
#  row lable index => given by the user
df.index

Index(['user1', 'user2'], dtype='object')

In [21]:
df.index

Index(['user1', 'user2'], dtype='object')

In [22]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df.index = [10,20]

In [25]:
df.index

Int64Index([10, 20], dtype='int64')

In [26]:
df

      User  Marks
10  Tushar     10
20   Happy     20

In [78]:
df = pd.DataFrame( [[10.6,20],[30,"Aasdf"]], index=["A","B"],dtype=float)

C:\Users\Tushar\AppData\Local\Temp\ipykernel_2808\1362349873.py:1: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame( [[10.6,20],[30,"Aasdf"]], index=["A","B"],dtype=float)

In [79]:
df.columns = ["First","Second"]

In [80]:
df["First"]

A    10.6
B    30.0
Name: First, dtype: float64

In [71]:
df["Second"]

A       20
B    Aasdf
Name: Second, dtype: object

In [47]:
type(df["First"])

pandas.core.series.Series

In [50]:
s=df["First"]
s


s[0]

10

In [36]:
df

   First  Second
0     10      20
1     30      40